<!DOCTYPE html>
<html lang="en">
<head>
    <component type="typeof(CloudHeadInit)" param-CloudPage="@(ViewData["CloudPageStatic"])" render-mode="Static" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:image" content="/favicon-32x32.png">
    <meta property="og:title" content="ABBY, transform, furniture, Creations">
    <meta property="og:type" content="website">
    <meta property="og:lang" content="en">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">

    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/android-icon-256x256.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-icon-512x512.png">

    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="name" content="ABBY">
    <meta name="short-name" content="ABBY">
    <meta name="keywords" content="ABBY, transform, furniture, Creations,  Exotic Furniture, Elevating Spaces, Furniture Solutions, Furniture Specialists">

</head>
<body>
    <partial name="Compoments/Header" />

    <main>
        @RenderBody()
    </main>

    <partial name="Compoments/Footer" />

</body>
</html>