<footer class="footer">
    <article>
        <div class="footer-top">
            <div class="footer-top-logo">
                <partial name="Assets/Logo1" />
            </div>
            <ul class="footer-top-link">
               <partial name="Compoments/LinkLeft"/>
                <li><a href="contact-us" aria-label="contact us">Contact Us</a></li>
          @*      <li> <a href="#" aria-label="instagram" target="_blank"><partial name="Assets/Instagram" /> </a></li>
                <li><a href="#" aria-label="facebook" target="_blank"><partial name="Assets/Facebook1" /> </a></li>*@
            </ul>
        </div>
        <div class="footer-bottom">
            <span>
                @DateTime.Today.Year ABBY Exotic Firnuture Transforming
            </span>
            <span>
                Design & Developed by <span>Farhat Wissam</span>
            </span>
        </div>
    </article>
</footer>