<a href="#" aria-label="Instagram" target="_blank"><partial name="Assets/Instagram" /> </a>
<a href="#" aria-label="Facebook" target="_blank"><partial name="Assets/Facebook" /> </a>
<a href="#" aria-label="Whatsapp" target="_blank"><partial name="Assets/Whatsapp" /> </a>