@{
    Html.Bundle("css/index.css");
    Html.Bundle("js/index.js");
}

<section class="hero">
    <article>
        <div class="hero-left fade-left">
            <span>
                Abby<br />
                Exotic<br />
                Furniture
            </span>
            <p>Transforming Furniture, Elevating Spaces</p>
            <a href="gallery" class="--button" aria-label="button page gallery">
                <partial name="Assets/Emogy" />
                <span>View More</span>
            </a>
            <div class="hero-scroll">
                <partial name="Assets/Arrow" />
            </div>
        </div>
        <div class="hero-image fadein">
            <img src="/img/hero/hero1.webp" alt="hero image" />
        </div>
        <div class="hero-right">
            <div class="image fade-right">
                <div class="hero-right-image">
                    <img src="/img/hero/hero2.webp" alt="small hero image" />
                </div>
                <div class="hero-right-image">
                    <img src="/img/hero/hero3.webp" alt="small hero image" />
                </div>
                <div class="hero-right-image">
                    <img src="/img/hero/hero4.webp" alt="small hero image" />
                </div>
            </div>
         @*   <div class="hero-right-social fade-right">
                <partial name="Compoments/SocialMeida" />
            </div>*@
            <partial name="Assets/Round" />
        </div>
    </article>
    <div class="hero-bg"></div>
</section>
<section class="about">
    <article>
        <h2 class="fadein">About us</h2>
        <p class="fadein">Welcome to ِAbby exotic Furniture, where luxury furniture meets artistic excellence. We specialize in crafting exquisite gold-plated designs that redefine opulence. With meticulous attention to detail and a commitment to timeless elegance, each piece in our collection is a true masterpiece. Indulge in the allure of our luxurious creations and elevate your living spaces to unparalleled levels of sophistication. Experience the epitome of luxury living with ِAbby exotic Furniture.</p>
        <a href="about-us" class="--button _white fadein" aria-label="button page about us">
            <partial name="Assets/Emogy" />
            <span>About Us</span>
        </a>
    </article>
</section>
<section class="service">
    <article>
        <div class="service-info fade-left">
            <h2>Services</h2>
            <p>Elevate your spaces with our exquisite Marble Look Painting service. Experience the timeless beauty of marble recreated on your walls, furniture, and decor. Our skilled artisans use masterful techniques to mimic the intricate patterns and textures of real marble, adding an aura of luxury and sophistication to your interiors. Discover an affordable way to achieve the elegance of marble without compromising on style.</p>
            <a href="services" class="--button" aria-label="button page services">
                <partial name="Assets/Emogy" />
                <span>View Services</span>
            </a>
        </div>
        <div class="service-image">
            <img src="img/service/1.webp" class="fade-right" alt="service image" />
            <img src="img/service/2.webp" class="fade-right" alt="service image" />
            <img src="img/service/3.webp" class="fade-right" alt="service image" />
        </div>
    </article>
</section>
<section class="portfolio">
    <article>
        <h2 class="fadein">Portfolio</h2>
        <p class="fadein">
            Experience the magic of our Marble Look Painting service through these snapshots of elegance. 
        </p>
        <div class="portfolio-images fadein">
            <img src="~/img/portfolio/2.webp" alt="portfolio image" />
            <img src="~/img/portfolio/3.webp" alt="portfolio image" />
            <img src="~/img/portfolio/4.webp" alt="portfolio image" />
            <img src="~/img/portfolio/9.webp" alt="portfolio image" />
            <img src="~/img/portfolio/6.webp" alt="portfolio image" />
        </div>
        <a href="portfolio" class="--button fadein" aria-label="button page portfolio">
            <partial name="Assets/Emogy" />
            <span>View Portfolio</span>
        </a>
    </article>
</section>
<section class="gallery">
    <article>
        <h2 class="fadein">Gallery</h2>
        <div class="gallery-slides">
            <div class="gallery-slides-dots fadein">
                <span class="dots _active"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
            </div>
            <div class="gallery-slides-lists fadein">
                <div class="gallery-slides-lists-images _active">
                    <img src="img/gallery/1.webp" alt="gallery image" />
                    <img src="img/gallery/2.webp" alt="gallery image" />
                    <img src="img/gallery/3.webp" alt="gallery image" />
                    <img src="img/gallery/4.webp" alt="gallery image" />
                    <img src="img/gallery/5.webp" alt="gallery image" />
                    <img src="img/gallery/6.webp" alt="gallery image" />
                </div>
                <div class="gallery-slides-lists-images">
                    <img src="img/gallery/7.webp" alt="gallery image" />
                    <img src="img/gallery/8.webp" alt="gallery image" />
                    <img src="img/gallery/9.webp" alt="gallery image" />
                    <img src="img/gallery/10.webp" alt="gallery image" />
                    <img src="img/gallery/11.webp" alt="gallery image" />
                    <img src="img/gallery/12.webp" alt="gallery image" />
                </div>
                <div class="gallery-slides-lists-images">
                    <img src="img/gallery/13.webp" alt="gallery image" />
                    <img src="img/gallery/14.webp" alt="gallery image" />
                    <img src="img/gallery/15.webp" alt="gallery image" />
                    <img src="img/gallery/16.webp" alt="gallery image" />
                    <img src="img/gallery/17.webp" alt="gallery image" />
                    <img src="img/gallery/18.webp" alt="gallery image" />
                </div>
                <div class="gallery-slides-lists-images">
                    <img src="img/gallery/19.webp" alt="gallery image" />
                    <img src="img/gallery/20.webp" alt="gallery image" />
                    <img src="img/gallery/21.webp" alt="gallery image" />
                    <img src="img/gallery/22.webp" alt="gallery image" />
                    <img src="img/gallery/23.webp" alt="gallery image" />
                    <img src="img/gallery/24.webp" alt="gallery image" />
                </div>
                <div class="gallery-slides-lists-images">
                    <img src="img/gallery/25.webp" alt="gallery image" />
                    <img src="img/gallery/26.webp" alt="gallery image" />
                    <img src="img/gallery/27.webp" alt="gallery image" />
                    <img src="img/gallery/28.webp" alt="gallery image" />
                    <img src="img/gallery/29.webp" alt="gallery image" />
                    <img src="img/gallery/30.webp" alt="gallery image" />
                </div>
            </div>
        </div>
        <a href="gallery" class="--button fadein" aria-label="button page gallery">
            <partial name="Assets/Emogy" />
            <span>View Gallery</span>
        </a>
    </article>
</section>
<section class="contact">
    <article>
        <p class="fadein">
            We would love to hear from you! <br /> If you have any questions, comments, or concerns, please don’t hesitate to contact us
        </p>
        <a href="contact-us" class="--button _white fadein" aria-label="button page contact us">
            <partial name="Assets/Emogy" />
            <span>Contact Us</span>
        </a>
    </article>
</section>