:root {
  --primaryColor: #734B34;
  --secondaryColor: #F1B47E;
  --brownColor: #A67A53;
  --greyColor: #343740;
  --blackColor: #090B0D;
  --blackColorOpacity: #00000059;
  --whiteColor: #FFFFFF;
  --opacityColor: #DFDFDF;
  --duration: 0.4s ease-in-out;
  --headerHeight: 100px;
  --headerbgColor: transparent;
  --maxWidth: 1200px;
  --raduis: 5px;
}
body .header {
  background-color: var(--primaryColor);
}
body .header-left li a,
body .header-right li a {
  color: var(--whiteColor);
}
body .header-left li a:before,
body .header-right li a:before,
body .header-left li a:after,
body .header-right li a:after {
  background-color: var(--whiteColor);
}
body main {
  margin-top: calc(var(--headerHeight) - 30px);
}
body .hero {
  min-height: 380px;
  max-height: 850px;
  background-image: url(/img/about/hero.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--headerHeight);
}
body .hero > article {
  z-index: 3;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .hero > article h2 {
  text-align: center;
  color: var(--whiteColor);
  text-transform: uppercase;
  letter-spacing: 5px;
}
body .hero > article span {
  font-size: 2rem;
  text-align: center;
  color: var(--whiteColor);
}
body .hero:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blackColorOpacity);
  z-index: 2;
}
@media only screen and (min-width: 800px) {
  .hero > article {
    max-width: var(--maxWidth);
  }
  .hero span {
    font-size: 3rem;
  }
}
body .gallery > article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
body .gallery > article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  object-position: bottom;
  max-height: 500px;
  pointer-events: auto;
}
body .popup {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #090b0db0;
  z-index: 999999;
}
body .popup > article {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70vh;
  max-width: 1000px;
  padding-top: 50px;
}
body .popup > article > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body .popup-close {
  position: absolute;
  right: 0;
  top: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 2rem;
  color: var(--whiteColor);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
@media only screen and (min-width: 800px) {
  body .gallery > article {
    grid-template-columns: repeat(3, 1fr);
  }
  body .popup-close {
    right: 50px;
  }
}
@media only screen and (min-width: 1100px) {
  body .gallery > article {
    grid-template-columns: repeat(4, 1fr);
  }
  body .gallery._use img:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 100%;
  }
  body .gallery._use img:last-child {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
  }
  body .gallery._use img:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
  }
}
