@import 'Common/variable.less';

body {
    main {
        .hero {
            min-height: 800px;
            position: relative;
            padding-top: calc(var(--headerHeight));
            overflow: hidden;

            > article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                min-height: 600px;
                row-gap: 0;
            }

            &-left {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                height: 100%;
                position: relative;

                > span {
                    font-size: 3rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: var(--primaryColor);
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                    text-align: center;
                }

                > p {
                    font-size: 1rem;
                    color: var(--primaryColor);
                    margin: 0;
                    text-transform: uppercase;
                    text-align: center;
                }

                .--button {
                    margin-top: 10px;
                }
            }

            &-image {
                width: 100%;
                overflow: visible;
                max-width: 400px;

                img {
                    width: 100%;
                    transform: scale(1);
                    animation: opacity .4s ease-in-out forwards;
                }
            }

            &-right {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                position: relative;

                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-items: center;
                    gap: 20px 5px;
                }

                &-image {
                    width: 100px;
                    height: 100px;
                    border-radius: var(--raduis);
                    background-color: var(--opacityColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    cursor: pointer;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: contain;
                        animation: opacity .4s ease-in-out forwards;
                    }
                }

                &-social {
                    margin-top: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;

                    a {
                        padding: 5px;

                        svg {
                            width: 20px;

                            .--svg-fill {
                                fill: var(--primaryColor);
                                transition: all var(--duration);
                            }
                        }

                        &:hover {
                            svg {
                                .--svg-fill {
                                    fill: var(--brownColor);
                                }
                            }
                        }
                    }
                }

                > svg {
                    position: absolute;
                    right: 0;
                    width: 100%;
                    top: 0;
                    height: 100%;
                    z-index: -1;
                    transform: scale(1.5);
                    background-color: var(--whiteColor);

                    .--svg-fill {
                        fill: var(--whiteColor);
                    }
                }
            }

            &-scroll {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                animation: down 1s ease-in-out infinite;

                svg {
                    width: 20px;
                }
            }

            &-bg {
                display: none;
                width: 200px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                background: var(--primaryColor);
                transform: translateX(-50%);
                z-index: -1;
            }
        }

        .about {
            min-height: 55vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(/img/about/about.webp);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            > article {
                z-index: 3;
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 700px;
                width: 100%;
                margin-inline: auto;
            }

            h2 {
                color: var(--whiteColor);
            }

            p {
                font-size: 1rem;
                color: var(--whiteColor);
                text-align: center;
            }

            .--button {
                margin-inline: auto;
            }

            &:after, &:before {
                content: "";
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            }

            &:before {
                background-image: url(/img/about/abouthash.webp);
                z-index: 1;
                opacity: 0.1;
            }

            &:after {
                background-color: var(--blackColorOpacity);
                z-index: 2;
            }
        }

        .service {
            > article {
                display: flex;
                align-items: center;
                justify-items: center;
                flex-direction: column-reverse;
                row-gap: 30px;
                column-gap:100px;
                max-width: 800px;
                margin-inline: auto;
            }

            &-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                justify-items: flex-start;

                p {
                    font-size: 1rem;
                    color: var(--primaryColor);
                    text-align: justify;
                }

                .--button {
                    width: 100%;
                    margin-top: 20px;
                }
            }

            &-image {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                img {
                    max-width: 400px;
                    max-height: 400px;
                    width: 100%;
                    object-fit: cover;

                    &:last-child {
                        max-height: 350px;
                        max-width: 100%;
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
            }
        }

        .portfolio, .gallery {

            > article {
                display: flex;
                align-items: center;
                justify-items: center;
                flex-direction: column;
                max-width: 800px;

                p {
                    font-size: 1rem;
                    color: var(--primaryColor);
                    text-align: center;
                    max-width: 700px;
                }
            }

            &-images {
                margin-block: 20px;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 20px;
                align-items: stretch;
                grid-template-areas: "image1 image1 image2" "image1 image1 image3" "image4 image5 image3";

                img {
                    object-fit: cover;
                    width: 100%;
                    filter: grayscale(1);
                    transition: all var(--duration);
                    pointer-events: auto;

                    &:hover {
                        filter: grayscale(0);
                    }

                    &:nth-child(1) {
                        grid-area: image1;
                    }

                    &:nth-child(2) {
                        grid-area: image2;
                    }

                    &:nth-child(3) {
                        grid-area: image3;
                    }

                    &:nth-child(4) {
                        grid-area: image4;
                    }

                    &:nth-child(5) {
                        grid-area: image5;
                    }
                }
            }

            .--button {
                margin-top: 30px;
            }
        }

        .gallery {
            min-height: 800px;

            &-slides {
                margin-block: 20px;
                width: 100%;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 50px;

                &-dots {
                    align-self: center;
                    align-items: stretch;
                    justify-content: center;
                    gap: 20px;
                    display: none;

                    .dots {
                        width: 50px;
                        height: 10px;
                        border-radius: 20px;
                        background: var(--whiteColor);
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transform: scaleX(0);
                            transform-origin: bottom left;
                            transition: all .7s ease-in-out;
                        }

                        &._active {
                            &:after {
                                background-color: var(--primaryColor);
                                transform: scaleX(2);
                                transform-origin: bottom right;
                            }
                        }
                    }
                }

                &-lists {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    min-height: 600px;

                    &-images {
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        justify-items: center;
                        align-items: stretch;
                        gap: 20px;
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        transition: all var(--duration);
                        opacity: 0;

                        &._active {
                            opacity: 1;
                        }

                        img {
                            width: 300px;
                            height: 300px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .contact {
            min-height: 50vh;
            position: relative;
            background-image: url(/img/about/about.webp);
            background-repeat: no-repeat;
            background-size: cover;

            > article {
                display: flex;
                height: 100%;
                max-width: 700px;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                justify-content: center;
                z-index: 3;

                p {
                    font-size: 1rem;
                    color: var(--whiteColor);
                    text-align: center;
                }
            }

            &:after {
                content: "";
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background-color: var(--blackColorOpacity);
                z-index: 2;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    body {
        main {
            .hero {
                padding-top: calc(var(--headerHeight) + 100px);

                > article {
                    display: grid;
                    grid-template-columns: 1fr .5fr 1fr;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 10px;
                    justify-items: flex-start;
                }

                &-left {
                    max-width: 300px;
                    align-items: flex-start;

                    > span {
                        text-align: left;
                    }

                    > p {
                        text-align: left;
                    }
                }


                &-scroll {
                    position: relative;
                    display: flex;
                }

                &-image {

                    img {
                        transform: scale(2);
                    }
                }

                &-right {
                    align-items: flex-end;
                    position: unset;

                    .image {
                        flex-direction: column;
                        align-items: flex-end;
                    }

                    > svg {
                        background-color: transparent;
                        right: -50%;
                        transform: scale(1.1);
                    }

                
                }
            }

            .service {

                > article {
                    flex-direction: row;
                    max-width: var(--maxWidth);
                }

                &-info {
                    width: 70%;
                    align-items: flex-start;
                    justify-items: flex-start;
                    padding-right: 30px;
                }

                &-image {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;

                    img {
                        max-width: 400px;
                        max-height: 400px;
                        width: 100%;
                        object-fit: cover;

                        &:last-child {
                            max-height: 350px;
                            max-width: 100%;
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }
                    }
                }
            }

            .gallery {
                min-height: 800px;

                &-slides {
                    &-dots {
                        display: flex;
                    }

                    &-lists {
                        &-images {
                            grid-template-columns: repeat(3,1fr);
                        }
                    }
                }
            }
        }
    }
}


@media @break-large {
    body {
        main {
            .hero {
                &-image {
                    img {
                        transform: scale(2);
                    }
                }

                &-bg {
                    display: block;
                }
            }

            .portfolio, .gallery {
                > article {
                    max-width: var(--maxWidth);
                }
            }

            .contact, .about {
                background-attachment: fixed;
            }
        }
    }
}

@media only screen and (min-width: 2001px) {
    body {
        main {
            .hero {
                &-right {
                    &-image {
                        background-color: var(--whiteColor);
                    }

                    > svg {
                        display: none;
                    }
                }
            }
        }
    }
}

@keyframes down {
    0% {
        top: -5px;
    }

    50% {
        top: 5px;
    }

    100% {
        top: -5px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
