@{
    Html.Bundle("css/about.css");
}


<section class="hero">
    <article>
        <h2 class="fadein">About Us</h2>
    </article>
</section>

<section class="whoweare">
    <article>
        <div class="whoweare-title">
            <h2 class="fade-left">
                ABBY - Who We Are, What  We Do, and What We’ve Done
            </h2>
        </div>
        <div class="whoweare-information fade-right">
            <p>At ABBY, we believe that luxury is not just a statement; it's a way of life. With years of experience and an unwavering dedication to perfection, we have become synonymous with creating extraordinary pieces that exude sophistication and grandeur.</p>
            <p>Our team of talented artisans and designers possesses a deep understanding of the artistry behind luxury furniture. Every piece we create is meticulously handcrafted, paying attention to even the smallest details. We source the finest materials from around the world to ensure that each item meets the highest standards of quality</p>
        </div>
    </article>
</section>

<section class="colounm">
    <article>
        <div class="colounm-item fadein">
            <h2>Our Collection</h2>
            <p>Indulge in the opulence of our extensive collection, which features an array of furniture and luxury items that redefine elegance. From majestic gold-plated sofas and chairs to exquisite dining tables and bedroom sets, our designs embody luxury at its finest. We also offer a range of tasteful accessories, including gold-plated lighting fixtures, mirrors, and decorative accents, to add a touch of grandeur to any space.</p>
        </div>
        <div class="colounm-item fadein">
            <h2>Customization</h2>
            <p>At ABBY, we understand that every client has unique preferences. That's why we offer personalized customization options to bring your vision to life. Our expert craftsmen can work closely with you to create bespoke furniture pieces tailored to your individual style and requirements. From selecting the perfect finishes to incorporating intricate details, we ensure that each customized creation is a true masterpiece.</p>
        </div>
    </article>
</section>

<section class="hero">
    <article>
        <span class="fadein">Where Golden Dreams Come to Life: Crafting Luxury with Distinction</span>
    </article>
</section>


<section class="whoweare">
    <article>
        <div class="whoweare-title">
            <h2 class="fade-left">
                Quality and Sustainability
            </h2>
        </div>
        <div class="whoweare-information">
            <p class="fade-right">
                We are committed to not only delivering unparalleled luxury but also prioritizing sustainability. We meticulously source materials from responsible suppliers, ensuring that they adhere to ethical and environmental standards. Our dedication to sustainability goes hand in hand with our pursuit of excellence, allowing us to create long-lasting and environmentally conscious luxury furniture.
            </p>
        </div>
    </article>
</section>

<section class="colounm">
    <article>
        <div class="colounm-item fadein">
            <h2>Client Satisfaction</h2>
            <p>At ABBY, our clients' satisfaction is paramount. We strive to provide an exceptional customer experience from the moment you browse our website to the final delivery of your exquisite piece. Our knowledgeable and friendly customer service team is always available to address any inquiries and guide you through the selection and customization process.</p>
        </div>
        <div class="colounm-item fadein">
            <h2>Visit our Showroom</h2>
            <p>To fully appreciate the beauty and craftsmanship of our luxury furniture, we invite you to visit our showroom. Located in [City, Country], our elegant showroom showcases a curated selection of our finest creations. Immerse yourself in a world of luxury as you explore our remarkable designs firsthand.</p>
        </div>
    </article>
</section>