@{
    Html.Bundle("css/services.css");
}

<section class="hero">
    <article>
        <h2 class="fadein">Discover Our Comprehensive Range of Services</h2>
    </article>
</section>

<section class="services">
    <article>
        <div class="services-service">
            <div class="services-service-image fade-left">
                <img src="img/service/service1.webp" alt="service image" />
            </div>
            <div class="services-service-information fade-right">
                <h2>Furniture Restoration</h2>
                <p>Furniture restoration is a service that repairs and revives old or damaged furniture, preserving its original beauty and function. Skilled artisans use various techniques to fix structural issues, refinish surfaces, and restore the piece's aesthetics, making it usable and visually appealing once again. This service is ideal for preserving the value of antique furniture and maintaining sentimental or historical pieces.</p>
            </div>
        </div>
        <div class="services-service">
            
            <div class="services-service-information fade-left">
                <h2>Crown Molding</h2>
                <p>Crown molding is a decorative trim installed along the meeting point of walls and ceilings, enhancing interior spaces with an elegant transition. It adds style, hides imperfections, and comes in various materials and designs to complement different décor themes.</p>
            </div>
            <div class="services-service-image fade-right">
                <img src="img/service/service2.webp" alt="service image" />
            </div>
        </div>

        <div class="services-service">
            <div class="services-service-image fade-left">
                <img src="img/service/service3.webp" alt="service image" />
            </div>
            <div class="services-service-information fade-right">
                <h2>Gold Plated</h2>
                <p>Elevate your furniture with our Gold Plating service. We meticulously apply genuine gold to create a luxurious and timeless aesthetic, adding a touch of opulence to your living spaces. Transform ordinary furniture into extraordinary pieces of art that radiate elegance and sophistication.</p>
            </div>
        </div>
        <div class="services-service">

            <div class="services-service-information fade-left">
                <h2>Marbel Look Painting</h2>
                <p>Marble Look Painting is a decorative service that imitates the appearance of real marble on surfaces like walls and furniture. Skilled painters use specialized techniques to replicate the intricate patterns and textures of marble, giving a luxurious touch to interiors without the expense of actual marble.</p>
            </div>
            <div class="services-service-image fade-right">
                <img src="img/service/service5.webp" alt="service image" />
            </div>
        </div>
    </article>
</section>

