@{
    Html.Bundle("css/gallery.css");
    Html.Bundle("js/gallery.js");
}

<section class="gallery _use">
    <article>
        <img src="img/portfolio/1.webp" class="fadein" alt="portfolio image 1" />
        <img src="img/portfolio/3.webp" class="fadein" alt="portfolio image 3" />
        <img src="img/portfolio/4.webp" class="fadein" alt="portfolio image 4" />
        <img src="img/portfolio/5.webp" class="fadein" alt="portfolio image 5" />
        <img src="img/portfolio/6.webp" class="fadein" alt="portfolio image 6" />
        <img src="img/portfolio/7.webp" class="fadein" alt="portfolio image 7" />
        <img src="img/portfolio/8.webp" class="fadein" alt="portfolio image 8" />
        <img src="img/portfolio/9.webp" class="fadein" alt="portfolio image 9" />
        <img src="img/portfolio/2.webp" class="fadein" alt="portfolio image 2" />
    </article>
</section>
  